.footer
    background-color: rgb(230, 189, 41)
    padding: 40px
    border-radius: 8px
    bottom: 0px
    left: 0px
    width: 100%
    text-align: center
    text-decoration: solid
    position: fixed
