

* 
  box-sizing: border-box


.wp-global 
    max-width: 1000px
    margin: 0 auto
    padding: 2rem
    background: #E6E6E6
    border-radius: 10px
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
    display: flex
    gap: 2rem
    
    .img
        width: 350px
        height: 350px
        border-radius: 175px
        

    .wp-info 
     
        

        .info2 
       
        justify-content: left
        gap: 5rem


        .wp-estado 
            flex-basis: 30%
            white-space: nowrap

            

        .wp-rol 
            flex-basis: 50%
            white-space: nowrap


