<section>
    <div class="wp">
        <img [src]="imagen" alt="ImagenPerfil" class="img">
        <h2>{{nombre}} {{apellido}}</h2>
        <p>{{mail}}</p>
        <p>{{edad}}</p>
        <p>{{ciudad}} y {{pais}}</p>
        <div class="info">
            <div class="estado">
                <h3>Estado</h3>
                <p>{{estado}}</p>
            </div>
            <!-- borrar -->
            <div class="estado">
                <h3>Id</h3>
                <p>{{id}}</p>
            </div>
            <!-- borrar -->
            <div class="rol">
                <h3>Rol</h3>
                <p>{{rol}}</p>
            </div>
        </div>

    </div>
</section>