

<h3 class="mb-1" *ngIf="!isUpdate">Crear un nuevo camión</h3>
<h3 class="mb-1" *ngIf="isUpdate">Editar camión</h3>
<hr class="mb-5">

<form class="template" [formGroup]="camionForm" (ngSubmit)="submitCamion()" >

    <div class="container">
            <div class="d-flex justify-content-center row">
                <div class="col">
                    <label for="matricula_camion" class="form-label" required>Matrícula</label>
                    <input type="text" id="matricula_camion" class="form-control" formControlName="matricula_camion">
                    <p class="error" *ngIf="controlError('matricula_camion', 'required')">El campo es obligatorio</p>
                </div>
                <div class="col">
                    <label for="capacidad_maxima" class="form-label" required>Capacidad</label>
                    <input type="number" id="capacidad_maxima" class="form-control" formControlName="capacidad_maxima">
                    <p class="error" *ngIf="controlError('capacidad_maxima', 'required')">El campo es obligatorio</p>
                </div>
                <div class="col">
                    <label for="estado" class="form-label" required>Estado</label>
                    <input type="text" id="estado" class="form-control" formControlName="estado">
                    <p class="error" *ngIf="controlError('estado', 'required')">El campo es obligatorio</p>
                </div>
            </div>

           
    </div>
    <section col-md-12 mb-3>
        <div class="input d-flex justify-content-end gap-3">
          <button type="submit" [disabled]="!camionForm.valid" class="btn-edit">{{ buttonName }}</button>
          <button class="btn-cancel" (click)="cancelar()">Atrás</button>
          <app-delete-button
            *ngIf="isUpdate"
            [url_param]="'camion'"
            [id]="id"
          ></app-delete-button>
        </div>
      </section>

</form>





    

    