<hr>

<h3>Vista Usuarios registrados</h3>
<p>Ruta: /usuarios</p>
<app-tabla [propiedadesTabla]="propiedadesTabla"></app-tabla>
<!--<div class="wp">
    <a href="#" class="new">Ver</a>
    <a href="#" class="new">Editar</a>
    <a href="#" class="new">Crear nuevo usuario</a>
    <a href="#" class="new">(Filtros)</a>
</div>

<hr>-->
<!--<table class="table table-striped table-container" > 
    <thead> 
        <tr class="thead"> 
            <th>Nombre</th> 
            <th>Email</th> 
            <th>Edad</th> 
            <th>Ciudad</th> 
            <th>Estado</th>
            <th>Edit</th>
        </tr> 
    </thead> 
        <tbody *ngFor="let usuario of arrUsuarios"> 
            <tr> 
                <td>{{usuario.nombre}} {{usuario.apellido}}</td> 
                <td>{{usuario.email}}</td> 
                <td>{{usuario.edad}}</td> 
                <td>{{usuario.ciudad}}</td> 
                <td>{{usuario.estado}}</td> 
                <td>
                    <button class="material-symbols-outlined icon">visibility</button>
                    <button class="material-symbols-outlined icon">edit</button>
                    <button class="material-symbols-outlined icon">delete</button>
                </td>  
            </tr> 
        </tbody> 
</table>-->
  

