

$fill: 0
$wght: 200
$grad: 0
$opsz: 48


.material-symbols-outlined 
  font-variation-settings: font-variation-settings($fill, $wght, $grad, $opsz)

button 
    border-style: hidden
    background: none


.table 
    text-align: center
    vertical-align: middle
    margin-bottom: 1rem 


.table-container
  justify-content: center
  margin: 0


.wp 
    text-align: right
    gap: 5px
    margin-top: 10px

.new
    text-decoration: none
    color: black
    text-align: right
    padding-left: 20px

thead
    background-color: #4090E6
    color: white


