<hr>

<h3>Vista Usuarios registrados - Jefe de equipo</h3>
<p>Ruta: /usuarios</p>


<div class="wp">
    <a href="#" class="new">Crear nuevo usuario</a>
    <a href="#" class="new">(Filtros)</a>
</div>

    <hr>
<table class="table table-striped table-container"> 
    <thead> 
        <tr class="thead"> 
            <th>Nombre</th> 
            <th>Email</th> 
            <th>Edad</th> 
            <th>Ciudad</th> 
            <th>Estado</th>
            <th>Edit</th>
        </tr> 
            </thead> 
                <tbody> 
                    <tr> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>
                            <button class="material-symbols-outlined icon">visibility</button>
                            <button class="material-symbols-outlined icon">edit</button>
                            <button class="material-symbols-outlined icon">delete</button>
                        </td>  
                        
                    </tr> 
                    <tr>
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td>  
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>
                            <button class="material-symbols-outlined icon">visibility</button>
                            <button class="material-symbols-outlined icon">edit</button>
                            <button class="material-symbols-outlined icon">delete</button>
                        </td>  
                     </tr> 
                     <tr> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td>  
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>
                            <button class="material-symbols-outlined icon">visibility</button>
                            <button class="material-symbols-outlined icon">edit</button>
                            <button class="material-symbols-outlined icon">delete</button>
                        </td>  
                    </tr> 
                    <tr> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td>  
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td>  
                        <td>
                            <button class="material-symbols-outlined icon">visibility</button>
                            <button class="material-symbols-outlined icon">edit</button>
                            <button class="material-symbols-outlined icon">delete</button>
                        </td> 
                    </tr> 
                    <tr> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td>  
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>
                            <button class="material-symbols-outlined icon">visibility</button>
                            <button class="material-symbols-outlined icon">edit</button>
                            <button class="material-symbols-outlined icon">delete</button>
                        </td>  
                    </tr> 
                    <tr> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td>  
                        <td>xxxxxxxxxxxx</td> 
                        <td>xxxxxxxxxxxx</td> 
                        <td>
                            <button class="material-symbols-outlined icon">visibility</button>
                            <button class="material-symbols-outlined icon">edit</button>
                            <button class="material-symbols-outlined icon">delete</button>
                        </td> 
                    </tr> 
                </tbody> 
            </table>




