*
    margin: 0
    padding: 0

body
    display: flex
    justify-content: space-between
    background: url(/assets/transporte.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    height: 1000px
    margin-top: -25px

.container
    width: 500px
    background-color: rgba(9, 54, 87, .6)
    border-radius: 8px
    padding: 20px
    color: white
    margin: auto
    align-items: center
