<!--<img src="/assets/almacen.png" alt="almacen">-->

<section class="container">
    <form [formGroup]="formModel" (ngSubmit)="onSubmitLogin()">
        <div class="my-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" id="email" type="email" formControlName= "email">
        </div>
        <div class="my-3">
            <label class="form-label" for="contrasena">Contraseña</label>
            <input class="form-control" id="contrasena" type="password" formControlName= "contrasena">
        </div>
        <input type="submit" value="Enviar" class="btn btn-danger" [disabled]="!formModel.valid">

    </form>
    

</section>