

<form [formGroup]="usuarioForm" (ngSubmit)="datosUsuario()">

<section class="template form">
    <h2 class="mb-5">{{ title }} usuario </h2>
  
            <div class="wp-1">

                    <div class="d-flex justify-content-center align-items-center">
                        <label for="imagen" class="textImagen"></label>
                        <input type="text" formControlName="imagen" placeholder="Añadir imagen" class="inputImagen">
                    </div>

                <div class="row"> 
                    <div class="wp-text-1 gap-5">
                    
                        <div>
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" formControlName="nombre">
                        </div>
                        <div>
                            <label for="apellido" class="form-label">Apellido</label>
                            <input type="text" class="form-control" formControlName="apellido">
                        </div>
                    </div>

                    <div class="wp-text-2 gap-5">
                        <div>
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" formControlName="email">
                        </div>
                        <div>
                            <label for="contrasena" class="form-label">Contraseña</label>
                            <input type="text" class="form-control" formControlName="contrasena">
                        </div>
                    </div>
                </div>
            </div>

            <div class="wp-2">
                <div class="row">

                    <div class="wp-text-3 gap-5">
                        <div>
                            <label for="pais" class="form-label">País</label>
                            <input type="text" class="form-control" formControlName="pais">
                        </div>
                        <div>
                            <label for="ciudad" class="form-label">Ciudad</label>
                            <input type="text" class="form-control" formControlName="ciudad">
                        </div>
                        <div>
                            <label for="codigo_postal" class="form-label">Código postal</label>
                            <input type="number" class="form-control" formControlName="codigo_postal">
                        </div>
                    </div>
    
                    <div class="wp-text-4 gap-5">
                        <div>
                            <label for="edad" class="form-label">Edad</label>
                            <input type="number" class="form-control" formControlName="edad">
                        </div>
                        <div>
                            <label for="rol" class="form-label">Rol</label>
                            <input type="text" class="form-control" formControlName="rol">
                        </div>
                        <div>
                            <label for="estado" class="form-label">Estado</label>
                            <input type="text" class="form-control" formControlName="estado">
                        </div>
                    </div>
                </div>
            </div> 

        </section>

        <section>
            <div class="input d-flex justify-content-end">

                <ng-container *ngIf="usuarioExiste; else crearUsuario">
                    <button class="btn-edit" (click)="actualizar()">Actualizar</button>
                    <app-delete-button [url_param]="'usuario'" [id]="id"></app-delete-button>
                    <!--<button class="btn-red" (click)="eliminar()">Eliminar</button>-->
                </ng-container>

                <ng-template #crearUsuario>
                    <button class="btn-new" (click)="datosUsuario()">Crear nuevo usuario</button>
                    <button class="btn-red" (click)="cancelar()">Cancelar</button>
                </ng-template>
            </div>
        
        </section>
</form>
