
<section class="template form">
    <form [formGroup]="usuarioForm" (ngSubmit)="datosUsuarios()"></form>



        <div class="container-1">

                <div class="wp-img">
                    <label for="imagen" class="textImagen">Añadir imagen</label>
                    <input type="text" formControlName="imagen" placeholder="Añadir imagen" class="inputImagen">
                </div>

            <div class="wp-text-1"> 
                <div class="prueba">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre">
                </div>
                <div>
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" formControlName="apellido">
                </div>
                <div>
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" formControlName="email">
                </div>
                <div>
                    <label for="contrasena" class="form-label">Contraseña</label>
                    <input type="text" class="form-control" formControlName="contrasena">
                </div>
            </div>
        </div>





            <div class="container-2">
                <div>
                    <label for="pais" class="form-label">País</label>
                    <input type="text" class="form-control" formControlName="pais">
                </div>
                <div>
                    <label for="ciudad" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" formControlName="ciudad">
                </div>
                <div>
                    <label for="codigo_postal" class="form-label">Código postal</label>
                    <input type="number" class="form-control" formControlName="codigo_postal">
                </div>
                <div>
                    <label for="edad" class="form-label">Edad</label>
                    <input type="number" class="form-control" formControlName="edad">
                </div>
                <div>
                    <label for="rol" class="form-label">Rol</label>
                    <input type="text" class="form-control" formControlName="Rol">
                </div>
                <div>
                    <label for="estado" class="form-label">Estado</label>
                    <input type="text" class="form-control" formControlName="estado">
                </div>
            </div>

    <input type="submit" value="Crear nuevo usuario" class="btn btn-dark mt-3">

</section>