<h3 class="mb-1" *ngIf="!isUpdate">Crear nuevo usuario</h3>
<h3 class="mb-1" *ngIf="isUpdate">Editar usuario nº{{id}}</h3>
<hr class="mb-5">

<form class="template" [formGroup]="usuarioForm" (ngSubmit)="submitUsuario()">

  <div class="row">

    <div class="col-md-4 mb-3">
      <div class="image-section">
        <div class="image-container">
          <img [src]="imageProfile" alt="imagen" class="round-image" />
        </div>
      </div>
      <p class="error" *ngIf="controlError('image', 'pattern')">
        No es una url correcta, porfavor valida la dirección
      </p>
    </div>

    <div class="col-md-4 mb-3">
      <div *ngIf="isUpdate" class="col-md-12 mb-3">
        <label for="usuarios_id" class="form-label">ID</label>
        <input readonly type="number" class="form-control form-control-plaintext" formControlName="usuarios_id" />
      </div>
      <div class="col-md-12 mb-3">
        <label required for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" /> {{nombre | capitalize}}
        <p class="error" *ngIf="controlError('nombre', 'required')">El nombre debe de estar informado</p>
      </div>
      <div class="col-md-12 mb-3">
        <label required for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" formControlName="apellido" />
        <p class="error" *ngIf="controlError('apellido', 'required')">El apellido debe de estar informado</p>
      </div>
      <div class="col-md-12 mb-3">
        <label required for="email" class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email" />
        <p class="error" *ngIf="controlError('email', 'required')">El apellido debe de estar informado</p>
        <p class="error" *ngIf="controlError('email', 'pattern')">El email no cumple los requisitos</p>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="col-md-12 mb-3">
        <label required for="contrasena" class="form-label">Contraseña</label>
        <input type="password" class="form-control" formControlName="contrasena" />
        <p class="error" *ngIf="controlError('contrasena', 'required')">La contraseña debe de estar informada</p>
        <p class="error" *ngIf="controlError('contrasena', 'minlength')">La contraseña debe tener 3 caracteres</p>
      </div>
      <div class="col-md-12 mb-3">
        <label for="edad" class="form-label">Edad</label>
        <input type="number" class="form-control" formControlName="edad" />
      </div>
      <div class="col-md-12 mb-3">
        <input class="form-check-input" type="checkbox" id="activo" formControlName="activo" />
        <label class="form-check-label" for="activo">Activo</label>
      </div>
      <div class="col-md-12 mb-3">
        <label required for="usuarios_id_lider" class="form-label">Jefe del usuario</label>
        <input *ngIf="isUpdate" readonly type="number" class="form-control" formControlName="usuarios_id_lider" />
        <input *ngIf="!isUpdate" type="number" class="form-control" formControlName="usuarios_id_lider" />

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <label required for="pais" class="form-label">País</label>
      <input type="text" class="form-control" formControlName="pais" />
      <p class="error" *ngIf="controlError('pais', 'required')">El país debe de estar informado</p>
    </div>
    <div class="col-md-4 mb-3">
      <label for="ciudad" class="form-label">Ciudad</label>
      <input type="text" class="form-control" formControlName="ciudad" />
    </div>
    <div class="col-md-4 mb-3">
      <label required for="codigo_postal" class="form-label">Código postal</label>
      <input type="text" class="form-control" formControlName="codigo_postal" />
      <p class="error" *ngIf="controlError('codigo_postal', 'minlength')">El código postal debe tener una longítud
        mínima de 3 caracteres</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <label required for="roles_id" class="form-label">Rol</label>
      <input type="number" class="form-control" formControlName="roles_id" />
      <p class="error" *ngIf="controlError('roles_id', 'required')">El rol debe de estar informado</p>
    </div>
    <div class="col-md-4 mb-3">
      <label for="imagen">Imagen perfil URL:</label>
      <input (input)="updateImage($event)" formControlName="imagen" type="text" class="form-control" id="imagen" />
    </div>
  </div>
  <section col-md-12 mb-3>
    <div class="input d-flex justify-content-end gap-3">
      <button type="submit" [disabled]="!usuarioForm.valid" class="btn-edit">{{ buttonName }}</button>
      <button class="btn-cancel" (click)="cancelar()">Atrás</button>
      <app-delete-button *ngIf="isUpdate" [url_param]="'usuario'" [id]="id"></app-delete-button>
    </div>
  </section>
</form>