

<h3 class="mb-1" *ngIf="!isUpdate">Crear nueva categoría de material</h3>
<h3 class="mb-1" *ngIf="isUpdate">Editar la categoría de material</h3>
<hr class="mb-5">

<form class="template" [formGroup]="categoriaForm" (ngSubmit)="submitCategoria()" class="formulario-global">

    <div class="container">
        <div class="row">
            <!-- <div class="col">
                <label for="categorias_materiales_id" class="form-label">ID</label>
                <input class="form-control form-control-plaintext" type="number" id="categorias_materiales_id" formControlName="categorias_materiales_id">
            </div> -->
            <div class="col">
                <label for="descripcion" class="form-label" required>Descripción</label>
                <input class="form-control" type="text" id="descripcion" formControlName="descripcion">
                <p class="error" *ngIf="controlError('descripcion', 'required')">El campo es obligatorio</p>
            </div>
            <div class="col">
                <label for="comentario" class="form-label" required>Observaciones</label>
                <input class="form-control" type="text" id="comentario" formControlName="comentario">
                <p class="error" *ngIf="controlError('comentario', 'required')">El campo es obligatorio</p>
            </div>
        </div>
    </div>


        <section col-md-12 mb-3>
            <div class="input d-flex justify-content-end gap-3">
              <button type="submit" [disabled]="!categoriaForm.valid" class="btn-edit">{{ buttonName }}</button>
              <button class="btn-cancel" (click)="cancelar()">Atrás</button>
              <app-delete-button
                *ngIf="isUpdate"
                [url_param]="'categoria'"
                [id]="id"
              ></app-delete-button>
            </div>
          </section>