<ng-container *ngFor="let column of rowValue; let last = last;">
    <td>{{ column }}</td>
    <td *ngIf="last && botones.ver">
        <button [routerLink]="['/',url_param,rowValue[0]]" class="btn btn-secondary">Ver</button>
    </td>
    <td *ngIf="last && botones.editar">
        <button [routerLink]="['/',url_param,rowValue[0]]" class="btn btn-warning">Editar</button>
    </td>
    <td *ngIf="last && botones.borrar">
        <app-delete-button [url_param]="url_param" [id]="rowValue[0]"></app-delete-button>
    </td>
</ng-container>