
.template
    max-width: 1300px
    margin: 0 auto
    background: #E6E6E6
    padding: 2rem
    border-radius: 10px
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px

.row
    padding-bottom: 10px

.color-red
    color: #af3216

i 
    cursor: pointer



label[required]::after 
    content: "*"
    color: red
    margin-left: 5px

input.ng-invalid.ng-touched
    border-bottom: 3px solid tomato


input.ng-valid.ng-touched
    border-bottom: 3px solid lightgreen


.error
    color: tomato
    font-size: 10px

select.ng-valid.ng-touched
    border-bottom: 3px solid lightgreen

select.ng-invalid.ng-touched
    border-bottom: 3px solid tomato

