.menu
    list-style: none
    display: flex
    padding: 20px
    margin-top: 9px
    background-color: rgb(240, 240, 240)
    border-radius: 8px
    width: 100%

    .menu-item
        text-decoration: none
        color: black
        font-size: medium
        padding: 10px 30px
        background-color: rgb(240, 240, 240)
        border: 2px solid rgb(230, 189, 41)
        border-radius: 15px
        margin-right: 10px

    .menu-item:active
        border-radius: 15px
        background-color: rgb(230, 189, 41)
        color: black

.formulario-global
    background-color: rgb(240, 240, 240)
    padding: 20px
    border-radius: 8px

.row
    padding-bottom: 10px

.table-responsive-sm
    margin-top: 20px

thead tr
    background-color: orange

tbody tr:nth-child(odd)
    background-color: white

tbody tr:nth-child(even)
    background-color: rgb(252, 218, 166)

.input 
    max-width: 1000px
    margin: 0 auto
    padding: 2rem
    border-radius: 15px
    gap: 1.5rem


.btn-edit
    text-decoration: none
    color: black
    background-color: #FFCD29
    border: none
    font-size: medium
    padding: 10px 30px
    border-radius: 15px

.btn-edit:hover
    background-color: white
    border: 2px solid #FFCD29
    color: black
    
.btn-cancel
    text-decoration: none
    color: black
    background-color: #acacac
    border: none
    font-size: medium
    padding: 10px 30px
    border-radius: 15px

.btn-cancel:hover
    background-color: white
    border: 2px solid #cbcac9
    color: black

.btn-new
    text-decoration: none
    color: white
    background-color: #14AE5C
    border: none
    font-size: medium
    padding: 10px 30px
    border-radius: 15px

.btn-new:hover
    background-color: white
    border: 2px solid #14AE5C
    color: black
