
<h3 class="" *ngIf="!isUpdate">Crear nuevo pedido</h3>
<h3 class="" *ngIf="isUpdate">Editar pedido {{id}}</h3>
<div class="input d-flex justify-content-end gap-3">
    <!-- botones del ENCARGADO cuando el pedido está en REVISIÓN -->
    <button *ngIf="isUpdate && esEncargado && !entregado" (click)="revisarPedido()" class="btn btn-warning">Revisar</button>
    <button *ngIf="isUpdate && esEncargado && !entregado" (click)="cancelarPedido()" class="btn btn-danger">Cancelar</button>
    <!-- botones del ENCARGADO cuando el pedido está en ENTREGADO -->
    <button *ngIf="isUpdate && esEncargado && entregado" (click)="aprobarPedido()" class="btn btn-success">Aprobar</button>
    <button *ngIf="isUpdate && esEncargado && entregado" (click)="rechazarPedido()" class="btn btn-danger">Rechazar</button>
    
    <!-- botones del OPERARIO cuando el pedido está en PREPARACIÓN -->
    <button *ngIf="isUpdate && esOperario && enPreparacion" (click)="transito()" class="btn-edit">Marcar como pedido en tránsito</button>
    <!-- botones del OPERARIO cuando el pedido está en TRÁNSITO -->
    <button *ngIf="isUpdate && esOperario && enTransito" (click)="entregarPedido()" class="btn-edit">Entregar</button>
    </div>
<hr class="mb-5">


<form class="template mb-5" [formGroup]="pedidoForm" (ngSubmit)=" submitPedido()" >

    <!-- Fecha creación, select estados y operario aignado -->
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="fecha_creacion" class="form-label">Fecha de creación</label>
            <input readonly class="form-control-plaintext" type="datetime" id="fecha_creacion" formControlName="fecha_creacion">
        </div>
        <div class="col-md-4 mb-3">
            <label required for="estado_pedido" class="form-label">Estado</label>
            <input readonly class="form-control-plaintext" type="text" id="estado_pedido" formControlName="estado_pedido">
        </div>
        <div class="col-md-4 mb-3">
            <label for="usuarios_id_creador" class="form-label">Operario asignado</label>
            <input readonly class="form-control form-control-plaintext" type="text" id="usuarios_id_creador" formControlName="usuarios_id_creador">
        </div>
    </div>

    <!-- Fecha de salida, fecha de llegada y select de camiones -->
    <div class="row">
        <div class="col-md-4 mb-3">
            <label required for="fecha_salida" class="form-label">Fecha de salida</label>
            <input class="form-control" type="datetime-local" id="fecha_salida" formControlName="fecha_salida">
            <p class="error" *ngIf="controlError('fecha_salida', 'required')">El campo es obligatorio</p>
        </div>
        <div class="col-md-4 mb-3">
            <label required for="fecha_llegada" class="form-label">Fecha de llegada</label>
            <input class="form-control" type="datetime-local" id="fecha_llegada" formControlName="fecha_llegada">
            <p class="error" *ngIf="controlError('fecha_llegada', 'required')">El campo es obligatorio</p>
        </div>
        <div class="col-md-4 mb-3">
            <label required for="camiones_id" class="form-label">Camión asignado</label>
            <select class="form-control" id="camiones_id" formControlName="camiones_id">
                <option *ngFor="let camion of camiones" [value]="camion.camiones_id">{{camion.camiones_id + " - " + camion.matricula_camion}}</option>
            </select>
            <p class="error" *ngIf="controlError('camiones_id', 'required')">El campo es obligatorio</p>
        </div>
    </div>

    <!-- Selects de Almacenes -->
    <div class="row">
        <div class="col-md-6 mb-3">
            <label required for="almacenes_id_origen" class="form-label">Almacén de origen</label>
            <select (change)="almacenOrigenChange($event)" class="form-control" id="almacenes_id_origen" formControlName="almacenes_id_origen">
                <option *ngFor="let almacen of almacenes" [value]="almacen.almacenes_id">{{almacen.almacenes_id + " - " + almacen.nombre_almacen }}</option>
            </select>
            <p class="error" *ngIf="controlError('almacenes_id_origen', 'required')">El campo es obligatorio</p>
        </div>

        <div class="col-md-6 mb-3">
            <label required for="almacenes_id_destino" class="form-label">Almacén de destino</label>
            <select (change)="almacenDestinoChange($event)" class="form-control" id="almacenes_id_destino" formControlName="almacenes_id_destino">
                <option *ngFor="let almacen of almacenes" [value]="almacen.almacenes_id">{{almacen.almacenes_id + " - " + almacen.nombre_almacen}}</option>
            </select>
            <p class="error" *ngIf="controlError('almacenes_id_destino', 'required')">El campo es obligatorio</p>
        </div>
    </div>

    <!-- Medida y encargado a revisar y encargado a aprovar-->
    <div class="row">
        <div class="col-md-4 mb-3">
            <label required for="medida" class="form-label">Medida</label>
            <input class="form-control" type="text" id="medida" formControlName="medida">
            <p class="error" *ngIf="controlError('medida', 'required')">El campo es obligatorio</p>
        </div>
        <div class="col-md-4 mb-3">
            <label for="usuarios_id_revisador" class="form-label">Encargado a revisar</label>
            <input readonly class="form-control-plaintext" type="text" id="usuarios_id_revisador" formControlName="usuarios_id_revisador">
        </div>
        <div class="col-md-4 mb-3">
            <label for="usuarios_id_aprobador" class="form-label">Encargado a aprobar</label>
            <input readonly class="form-control-plaintext" type="text" id="usuarios_id_aprobador" formControlName="usuarios_id_aprobador">
        </div>
    </div>

    <!-- Observaciones -->
    <div class="col-md-12 mb-3">
        <label for="observaciones" class="form-label">Observaciones</label>
        <input class="form-control" type="" id="observaciones" formControlName="observaciones">
    </div>

    <!-- Tabla para informar la tabla de la base de datos "pedidos_have_stocks" -->
    <button [disabled]="pedidoForm.controls.almacenes_id_origen.invalid" (click)="anadirFila()" class="btn-edit mt-3" type="button">Añadir fila</button>
    <span *ngIf="pedidoForm.controls.almacenes_id_origen.invalid" class="m-2 naranja">Debes seleccionar un almacén de origen para poder crear una fila</span>
    <div class="table-responsive-sm">
        <hr>
        <table class="table table-striped">
            <thead>
                <tr class="thead row">
                    <th scope="row" class="col-lg-2 col-md-6 center d-flex justify-content-center">Posición</th>
                    <th scope="col" class="col-lg-2 col-md-6 center d-flex justify-content-center">Nºmaterial</th>
                    <th scope="col" class="col-lg-2 col-md-6 center d-flex justify-content-center">Nombre material</th>
                    <th scope="col" class="col-lg-2 col-md-6 center d-flex justify-content-center">Descripción Categoría</th>
                    <th scope="col" class="col-lg-1 col-md-4 center d-flex justify-content-center">Unidades</th>
                    <th scope="col" class="col-lg-2 col-md-4 center d-flex justify-content-center">Unidades disponibles</th>
                    <th scope="col" class="col-lg-1 col-md-4 center d-flex justify-content-center">Editar</th>
                </tr>
            </thead>
        
            <tbody>
                <tr *ngFor="let fila of filasStock" class="row text-center d-flex justify-content-center">
                    <td class="col-lg-2 col-md-6 text-center align-items-center d-flex justify-content-center" scope="col">{{fila.posicion}}</td>
                    <td class="col-lg-2 col-md-6 align-items-center d-flex justify-content-center">
                        <select (change)="informarFilaStock($event,fila)"  class="form-control">
                            <option *ngIf="!fila.descripcion_categoria"></option>
                            <option *ngFor="let stock of stocksOrigen" [value]="stock.stocks_id">{{stock.stocks_id + " - " + stock.nombre_material}}</option>
                        </select>
                        
                    </td>
                    <td class="col-lg-2 col-md-6 align-items-center d-flex justify-content-center" scope="col">{{ fila.descripcion_material }}</td>
                    <td class="col-lg-2 col-md-6 align-items-center d-flex justify-content-center" scope="col">{{ fila.descripcion_categoria }}</td>
                    <td class="col-lg-1 col-md-4 align-items-center d-flex justify-content-center" scope="col">
                        <!-- <input [ngModelOptions]="{standalone: true}" [(ngModel)]="fila.unidades_utilizadas" (keydown)="noAction($event)" class="form-control text-center" scope="col" type="number" [maxlength]="fila.unidades" /> -->
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="fila.unidades_utilizadas" (keydown)="noAction($event)" class="form-control text-center" scope="col" type="number" [maxlength]="fila.unidades" />
                    </td>
                    <td class="col-lg-2 col-md-4 align-items-center d-flex justify-content-center" scope="col">{{ fila.unidades }}</td>
                    <td class="col-lg-1 col-md-4 text-center align-items-center d-flex justify-content-center" scope="col">
                        <i (click)="eliminarFila(fila)" class="fa fa-sharp fa-solid fa-trash fa-sm color-red center"></i>
                    </td>
                </tr>    
            </tbody>
            
        </table>
    </div>




    

    <section col-md-12 mb-3>
        <div class="input d-flex justify-content-end gap-3">
          <button type="submit" [disabled]="!pedidoForm.valid || !isValidStocks" class="btn-edit">{{ buttonName }}</button>
          <button class="btn-cancel" (click)="cancelar()">Atrás</button>
          <app-delete-button
            *ngIf="isUpdate"
            [url_param]="'pedido'"
            [id]="id"
          ></app-delete-button>
        </div>
      </section>
</form>

<hr class="mb-5">