

<h3 class="mb-1" *ngIf="!isUpdate">Crear nuevo material</h3>
<h3 class="mb-1" *ngIf="isUpdate">Editar material nº{{id}}</h3>
<hr class="mb-5">

<form class="template" [formGroup]="materialForm" (ngSubmit)="submitMaterial()" class="formulario-global">

    <div class="container">
        <div class="row">

            <div class="col">
                <label for="nombre" class="form-label" required >Nombre</label>
                <input class="form-control" type="text" id="nombre" formControlName="nombre">
                <p class="error" *ngIf="controlError('nombre', 'required')">El campo es obligatorio</p>
            </div>
            <div class="col">
                <label for="estado" class="form-label" required>Estado</label>
                <select class="form-control" name="estado" id="estado" formControlName="estado">
                    <option value="Activo">Activo</option>
                    <option value="Obsoleto">Obsoleto</option>
                </select> 
                <p class="error" *ngIf="controlError('estado', 'required')">El campo es obligatorio</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="categorias_materiales_id" class="form-label" required>Categoría</label>
                <select (change)="getAllCategorias()" class="form-control" id="categorias_materiales_id" formControlName="categorias_materiales_id">
                    <option *ngFor="let categoria of Categorias" [value]="categoria.categorias_materiales_id">{{categoria.categorias_materiales_id}} {{categoria.descripcion}}</option>
                </select>

                <p class="error" *ngIf="controlError('categorias_materiales_id', 'required')">El campo es obligatorio</p>
            </div>
            <div class="col">
                <label for="peso" class="form-label" required>Peso</label>
                <input class="form-control" type="number" id="peso" formControlName="peso">
                <p class="error" *ngIf="controlError('peso', 'required')">El campo es obligatorio</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="descripcion_material" class="form-label" required>Descripción</label>
                <input class="form-control" type="text" id="descripcion_material" formControlName="descripcion_material">
                <p class="error" *ngIf="controlError('descripcion_material', 'required')">El campo es obligatorio</p>
            </div>
        </div>
    </div>


        <section col-md-12 mb-3>
            <div class="input d-flex justify-content-end gap-3">
              <button type="submit" [disabled]="!materialForm.valid" class="btn-edit">{{ buttonName }}</button>
              <button class="btn-cancel" (click)="cancelar()">Atrás</button>
              <app-delete-button
                *ngIf="isUpdate"
                [url_param]="'material'"
                [id]="id"
                [elementoHabilitado]="elementoDeleteHabilitado"
              ></app-delete-button>
            </div>
          </section>