.menu
    list-style: none
    display: flex
    padding: 20px
    margin-top: 9px
    background-color: rgb(240, 240, 240)
    border-radius: 8px
    width: 100%

    .menu-item
        text-decoration: none
        color: black
        font-size: medium
        padding: 10px 30px
        background-color: rgb(240, 240, 240)
        border: 2px solid rgb(230, 189, 41)
        border-radius: 15px
        margin-right: 10px

    .menu-item:active
        border-radius: 15px
        background-color: rgb(230, 189, 41)
        color: black

.wp
    text-align: right
    gap: 5px
    margin-top: 10px

.new
    text-decoration: none
    color: black
    text-align: right
    padding-left: 20px

.formulario-global
    background-color: rgb(240, 240, 240)
    padding: 20px
    border-radius: 8px

.row
    padding-bottom: 10px

.botones
    float: right
    display: inline-flex
    margin: 20px

.btn-crear
    margin-right: 10px
