<!-- <nav>
    <ul class="menu">
        <li><a class="menu-item" href="Pedidos">Pedidos</a></li>
        <li><a class="menu-item" href="detalleUsuario">Perfil</a></li>
    </ul>
</nav> -->

<div class="wp">
    <a href="#" class="new">Crear nuevo usuario</a>
    <a href="#" class="new">(Filtros)</a>
</div>

<hr>

<div class="table-responsive-sm">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nºpedido</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha de creación</th>
                <th scope="col">Fecha de salida</th>
                <th scope="col">Almacén de destino</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody *ngFor="let pedido ofarrPedidos">
            <tr>
                <th scope="row">{{pedido.n_pedido}}</th>
                <td>{{pedido.estado}}</td>
                <td>{{pedido.fecha_creacion}}</td>
                <td>{{pedido.fecha_salida}}</td>
                <td>{{pedido.almacen_destino}}</td>
                <td><button class="material-symbols-outlined icon">visibility</button>
                    <button class="material-symbols-outlined icon">edit</button>
                    <button class="material-symbols-outlined icon">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>