.sub-menu
    width: 100%
    border-bottom: 7px solid
.navigation
    list-style-type: none
    display: flex
    justify-content: space-between
    padding: 0px
    margin-bottom: 0px

.navigation-li 
    justify-content: center
    display:   flex
    align-items: center
    align-content: center
    flex-basis: 25%
    background-color: rgba(224,153,47, 1)
    padding: 20px 0px 20px 0px
    cursor: pointer
    .nav-item 
        text-decoration: none
        color: white
        font-size: x-large

.navigation-li:hover
    background-color: rgba(172, 104, 2,1)

/*Estilos para el link activo*/
.router-link-active 
    background-color: rgba(9, 54, 87,1)

.contenedor-label
    display: flex
    justify-content: left   
    .izquierda
        border: 2px solid
        padding: 10px
        border-bottom-right-radius: 20px
        span
            font-weight: bold
            
@media (max-width: 450px) 

 .navigation
    flex-direction: column

    .navigation-li
        flex-basis: 100%

