

<div *ngIf="rol" class="mb-4">
  <nav [style.border-color]="colorBorder" class="sub-menu">
    <ul class="navigation">
      <li class="navigation-li" 
          *ngFor="let enlace of enlacesRouter"
          [routerLink]="enlace.enlace"
          routerLinkActive="router-link-active"
          [style.flex-basis]="100 / enlacesRouter.length + '%'">
        <a class="nav-item">{{ enlace.texto }}</a>
      </li>
    </ul>
  </nav>
  <div class="contenedor-label">
    <div [style.border-color]="colorBorder" [style.background-color]="colorBorder" class="izquierda"><span [style.color]="colorText">{{rolDescripcion}}</span></div>
  </div>
</div>